    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
	
	<meta name="title" content="{{ page.title }} | Neil Laborce"/>
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}" />
    <meta name="author" content="Neil Laborce" />    
    {% if page.index %}
    <meta name="robots" content="{{ page.index }}">
    {% endif %}
    <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
	{% if paginator.previous_page %}
    <link rel="prev" href="{{ paginator.previous_page_path | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url | append: '/' | replace: '//','/' }}">
    {% endif %}
    {% if paginator.next_page %}
    <link rel="next" href="{{ paginator.next_page_path | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url | append: '/' }}">
    {% endif %}
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
    {% if page.metatags %}
    <meta name="robots" content="{{ page.metatags }}">
    {% endif %}
